doctype html
html 
    head
        title Kino
        link(rel='stylesheet', href='../static/style.css')
    body
        header 
            nav 
                a(href="/") Home
                |  |  
                a(href="/movies") Movies
        main 
            block content

        footer
            p &copy; 2025 Kino