extends layout 

block content 
    h1= title

    if image
        img(src=image, alt=title, width='300')

    if intro
        .intro !{intro}
    
    section#reviews-section 
        h2 Reviews
        #reviews-loading Loading reviews...
        ul#reviews-list
            //- insert reviews dynamically
        .pagination
            button#prev-review(type='button' disabled) Previous
            button#next-review(type='button' disabled) Next

    section#review-form-section
        h3 Submit Your Review
        form#review-form
            label(for='name') Name (required)
            input#name(type='text' name='name' required maxlength='100')

            label(for='rating') Rating (0-5, required)
            input#rating(type='number' name='rating' required min='0' max='5' step='0.5')

            label(for='comment') Comment (optional)
            textarea#comment(name='comment' rows='4' maxlength='500')

            button(type='submit') Submit Review

            p#form-message(style='color: red;')

    a(href='/movies') ← Back To Movies

    script(src='/static/reviews.js')