extends layout 

block content 
    h1= title

    if image
        img(src=image, alt=title, width='300')

    if intro
        .intro !{intro}
    
    section#reviews-section 
        h2 Reviews
        #reviews-loading Loading reviews...
        ul#reviews-list
            //- insert reviews dynamically
        .pagination
            button#prev-review(type='button' disabled) Previous
            button#next-review(type='button' disabled) Next

    a(href="/movies") ← Back To Movies

    script(src='/static/reviews.js')