extends layout

block content 
    h2 Now Showing
    ul
        each movie in movies.data
            li
                h3 
                    a(href=`/movies/${movie.id}`) #{movie.attributes.title} 
                if movie.attributes.image.url 
                    img(src=movie.attributes.image.url, alt=movie.attributes.title, width='200')