extends layout

block content 
    h2 Now Showing
    ul
        each movie in movies.data
            li
                h3 
                    a(href=`/movie/${movie.id}`) #{movie.attributes.title} 
                if movie.image 
                    img(src=movie.attributes.image, alt=movie.attributes.title, width='200')